<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Workout Index</title>
</head>
<body>
    <h1>All your Workouts!</h1>
    <ul>
        <% workouts.forEach(workout => { %>
          <li><a href="/workouts/<%=workout._id%>"><%= workout.name%></a> </li> 
       <% }); %>
    </ul>
</body>
<a href="/workouts/new"><div class="new-workout">Add New Workout</div></a>
<a href="/"><div class="home">Home</div></a>
</html>