<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>New Workout</title>
  </head>
  <body>
    <h1>Log a new workout</h1>
    <form action="/workouts" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" />
      <label for="name">Day:</label>
      <input type="text" name="date" placeholder="DD/MM/YYYY" />
      <label for="name">Duration:</label>
      <input
        type="number"
        name="duration"
        placeholder="(e.g., minutes, seconds)"
      />
      <div class="is-completed">
        <label for="isCompleted">Did you complete your workout?</label>
        <input type="checkbox" name="isCompleted" />
      </div>
      <button type="submit">Add Workout</button>
    </form>
  </body>
  <a class="index-link" href="/workouts">
    <div class="index-text">Back to Workouts</div></a>
</html>
